version: '3.8'

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: socimanage-server
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./tmp:/app/tmp
